* {
    margin: 0;
    padding: 0;

}

.linea {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid;

}


.video {
    float: left;
    height: 500px;
    width: 50%;
   
    
}



.title {
    float: right;
    width:  40%;
    height: 500px;
    margin: 30px;
    
    font-family: 'Montserrat', sans-serif;
    
}

p{
    padding-top: 30px;
    font-size: 14px;
    color: rgb(63, 60, 60);


}

@media (max-width: 600px){

    .main-container{
        width: 560px;
        margin: auto;
    }

    .video{
         
         height: 0px;
         width: 100%;
         max-width: 560px;
         padding-top: 56.25%;
         position: relative;

    }

    .title{
        margin: auto;
        height: auto;
        width: 100%;
    }
    iframe{
        position:absolute;
        height:100%;
        width:100%;
        top:0px;
        left:0px;
        }
}